/* HEADER */
:root{
    --fond : #262335;
    --titres: #fff;
    --texte : #71689E;
    --hover : #93919a;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 1.2vw;
    background-color: var(--fond);
}

/* HEADER */
nav {
    margin-left: 15vw;
    margin-right: 15vw;
    padding-left: 2vw;
    padding-right: 2vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--fond);
}
  
.gauche {
    display: flex;
    align-items: center;
    gap: 2vw;
    }

.droite {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 2vw;
   }

.droite a,.gauche a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.droite a:hover,.gauche:hover{
    border-bottom: 2px solid var(--hover);
}

/* MAIN */
.container{
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 10vh;
    align-items: center;
    justify-content: center;
    display: block;
}

.titre, .text{
    color: #fff;
}

.titre{
    border-bottom: 1px solid white;
    width: 225px;
    margin: 0 auto 150px auto; /* margin: haut bas droite gauche */
    text-align: center;
}

/* FOOTER */
/*
footer {
    position: fixed;
    bottom: 0;
    background-color: var(--fond);
    height: 10vh;
    margin-left: 15vw;
    margin-right: 15vw;
    padding-left: 2vw;
    padding-right: 2vw;
    width: 100%;
}

.f2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--texte);
}

.f2 .fa-solid{
    color: #71689E;
    font-size: 1.2vw;
    transition: all 0.1s ease-in-out;
}

.f2 .fa-solid:hover{
    color: #fff;
    transform: scale(1.2);
}*/

.container-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 15vw;
    margin-right: 15vw;
    padding-left: 2vw;
    padding-right: 2vw;
}

.container-footer p{
    color: var(--texte);
}